

body{
    
    padding: 6px;
    margin: 0px;
    font-family: 'Ubuntu Mono', monospace;
    box-sizing: border-box;
    font-size: 16px;
    background-image: url("../img/5573.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
h1{
    font-weight: bold;
    font-size: 2.5em;
    text-shadow:  2px 0px rgb(0, 0, 0);
}
h2 {
    margin-bottom: 20px;
}
button{
    background-color: rgba(0,0,0,0);
}
.projects1, .projects2, .about-me, .page-info{
    background-color: rgba(255,255,255, .1);
    
}

header, footer{
    background-color: rgba(255,255,255, .7);
}
.navbar-brand{
    font-weight: bolder;
}
 
section.jumbotron {
    background-color: rgba(255, 255, 255, .1);
    min-height: 30vh;
   
    color: whitesmoke
}
#headshot{
    max-width: 300px;
    border-radius: 10%; 
    border: solid white .5px;
    padding: 0;
}
section.resume {
   display: flex;
  align-items: center;

}
section.projects1{
    color: white;
}
section.projects2, section.about-me{
    color: white;
}
.projects1 h5, .projects1 p {
    color: black;
    background-color: rgba(255,255,255, .9);
    width: 50%;
    margin: auto;

}

.download-resume {
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    color: black;
    display: block;
    background-color: rgba(255,255,255, .7);
   
}

.carousel-item img, .projects2 img {
   max-width: 300px;
   max-height: 300px;
   margin: auto;
   border-radius: 10%;
   border: solid white .5px;
   margin-bottom: 10px;
}
 

section.about-me button {
    border: none;
    background-color:rgba(0,0,0,0);
    color: white;
    
}
.page-info button {
    color: white;
}
.map iframe{
    max-width: 100%;
   
}
.map p {
    max-width: 100%;
}
.site-map{
    list-style-type: none;
    font-size: 85%;
}

.site-map a {
    text-decoration: none;
    padding: 0px 2%; 
}

.dropdown-toggle{
   
    border: none;
}
.dropup {
    display: inline; 
}
.contact-me{
    font-size: 85%;
}
.social-links i{
    text-align: center;
    padding-right: 10%;
}
.grading {
    border: none;
    padding: 0;
   
}
.navbar-toggler{
    border: solid 2.5px;
}


