


    body{
        background-color:#575761;
    }
    header{
        
        color: #e4fde1;
        background-image: linear-gradient(270deg,#98aa9d, #6b9f9c);
        height: 12vh;
    }
    .navbar-brand{
        color: #e4fde1;
        
        
    }

    .navbar-toggler{
        background-color: #5e6d71;
        border: solid #e4fde1;
        color:  #e4fde1;
        
    }
    span.navbar-toggler-icon{
        color:#e4fde1;
    }
    .jumbotron{
        color: #e4fde1;
        padding: 2%;
        min-height: 15%;
        position: relative;
        
        height: 58vh;
    }
    
    h1 > span {
        white-space: nowrap;
    }
    section>#myCarousel{
        margin: auto;
        width: 75%;
    }
    section.resume {
     height: 30vh;
        
    }
    
    section.resume .btn {
       
        width: 95%;
        color: #043b02;
        background-color:#6b9f9c;
        border: 4px solid #ffbf46;
        border-radius: 2cm;
        margin: 5% auto;
        
    }

    section.projects {
        color: #e4fde1 ;
    }
    .copyright{
        font-size: 10px;
    }
    .dropdown-toggle{
        border: 0;
        background-color: white;
        text-decoration: underline;
        
    }

    footer {
        background-color: #ffbf46;
        width: 100%;
        
    }
